# Core Django
Django>=4.2,<6.0
django-ckeditor-5
django-cors-headers
django-countries
django-debug-toolbar
django-filter
django-phonenumber-field
django-phonenumbers
django-widget-tweaks
django-allauth

# DRF & API
djangorestframework
djangorestframework_simplejwt
drf-yasg
dj-rest-auth

# Utilities
asgiref
colorama
dotenv
Faker
Markdown
packaging
phonenumbers
Pillow
pytz
PyYAML
qrcode
sqlparse
typing_extensions
tzdata
uritemplate
python-decouple
python-dotenv
requests

# Database
psycopg2-binary

# Security & Crypto (Let pip resolve versions)
cffi
cryptography
PyJWT

# Production
gunicorn
whitenoise
