<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Khawarizm LMS</title>
    <meta name="robots" content="noindex, follow">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">

    <!-- CSS  -->
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/vendor/slick.css">
    <link rel="stylesheet" href="/static/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="/static/css/plugins/sal.css">
    <link rel="stylesheet" href="/static/css/plugins/feather.css">
    <link rel="stylesheet" href="/static/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="/static/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="/static/css/plugins/swiper.css">
    <link rel="stylesheet" href="/static/css/plugins/odometer.css">
    <link rel="stylesheet" href="/static/css/plugins/animation.css">
    <link rel="stylesheet" href="/static/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="/static/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="/static/css/plugins/plyr.css">
    <link rel="stylesheet" href="/static/css/plugins/jodit.min.css">

    <link rel="stylesheet" href="/static/css/styles.css">
</head>