    <!-- js -->
    <!-- Modernizer JS -->
    <script src="/static/js/vendor/modernizr.min.js"></script>
    <!-- jQuery JS -->
    <script src="/static/js/vendor/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="/static/js/vendor/bootstrap.min.js"></script>
    <!-- sal.js -->
    <script src="/static/js/vendor/sal.js"></script>
    <!-- Dark Mode Switcher -->
    <script src="/static/js/vendor/js.cookie.js"></script>
    <script src="/static/js/vendor/jquery.style.switcher.js"></script>
    <script src="/static/js/vendor/swiper.js"></script>
    <script src="/static/js/vendor/jquery-appear.js"></script>
    <script src="/static/js/vendor/odometer.js"></script>
    <script src="/static/js/vendor/backtotop.js"></script>
    <script src="/static/js/vendor/isotop.js"></script>
    <script src="/static/js/vendor/imageloaded.js"></script>
    <script src="/static/js/vendor/wow.js"></script>
    <script src="/static/js/vendor/waypoint.min.js"></script>
    <script src="/static/js/vendor/easypie.js"></script>
    <script src="/static/js/vendor/text-type.js"></script>
    <script src="/static/js/vendor/jquery-one-page-nav.js"></script>
    <script src="/static/js/vendor/bootstrap-select.min.js"></script>
    <script src="/static/js/vendor/jquery-ui.js"></script>
    <script src="/static/js/vendor/magnify-popup.min.js"></script>
    <script src="/static/js/vendor/paralax-scroll.js"></script>
    <script src="/static/js/vendor/paralax.min.js"></script>
    <script src="/static/js/vendor/countdown.js"></script>
    <script src="/static/js/vendor/plyr.js"></script>
    <script src="/static/js/vendor/jodit.min.js"></script>
    <script src="/static/js/vendor/Sortable.min.js"></script>
    <!-- Main JS -->
    <script src="/static/js/main.js"></script>