{% extends 'dashboard/AdminDashboard/base_dashboard.html' %}

{% block create_button %}
  <div class="rbt-tutor-information-right">
    <div class="tutor-btn">
      {% comment %} <a class="rbt-btn btn-md hover-icon-reverse" href="{% url 'college:create_college' %}"> {% endcomment %}
      <a class="rbt-btn btn-md hover-icon-reverse" href="/dashboard/admin/courses/create/">
        <span class="icon-reverse-wrapper">
          <span class="btn-text">Create a New Course</span>
          <span class="btn-icon"><i class="feather-arrow-right"></i></span>
          <span class="btn-icon"><i class="feather-arrow-right"></i></span>
        </span>
      </a>

    </div>
  </div>
{% endblock %}

{% block dashboard_content %}
  {% block extra_css %}
    {% include 'partials/datatables.html' %}
  {% endblock %}

  <div class="col-lg-9">
    <!-- List students -->
    <table id="example" class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>colleges</th>
          <th>Departments</th>
          <th>Academic Hours</th>
          <th>Level</th>
          <th>Lecturer</th>
          <th>Students</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Is Active</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
          <tr>
            <td>{{ course }}</td>
            <td>{{ course.colleges.count }}</td>
            <td>{{ course.departments.count }}</td>
            <td>{{ course.academic_hours }}</td>
            <td>{{ course.level }}</td>
            <td>{{ course.lecturer.full_name }}</td>
            <td>{{ course.students_enrolled.count }}</td>
            <td>{{ course.created_at | date:"Y-m-d" }}</td>
            <td>{{ course.updated_at | date:"Y-m-d H:i" }}</td>
            <td>
              {% if course.is_active %}
                <span class="badge bg-success">Active</span>
              {% else %}
                <span class="badge bg-danger">Inactive</span>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Name</th>
          <th>colleges</th>
          <th>Departments</th>
          <th>Academic Hours</th>
          <th>Level</th>
          <th>Lecturer</th>
          <th>Students</th>
          <th>Created At</th>
          <th>Updated At</th>
          <th>Is Active</th>
        </tr>
      </tfoot>
    </table>
    <!-- End List students -->

    {% block extra_js %}
      <script>
        new DataTable('#example')
      </script>
    {% endblock %}
  </div>
{% endblock %}
